<!doctype html>
<html>
  <head>
    <title>Holiday App!</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-1.10.2.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class = "container">
      <div class = "row">
        <div class="col-md-12">
          <h1>Holiday Form</h1>

          <form action="holidays">
            Year (Ex: 2015): <input name="year" type="number">
            <p></p>
            Month (Ex: 2): <input name="month" type="number">
            <p></p>
            Day (Ex: 14): <input name="day" type="number">
            <p></p>
            <button type="submit">Submit</button>
          </form>

        </div>
    </div>
  </body>
</html>