<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div class = "container">
      <div class = "row">
        <div class = "col-md-6">
           <blockquote>"Well Ma'am, you're damned if you do and you're damned if you don't." - Bart Simpson</blockquote>
        </div>
        <div class = "col-md-6">
         <h3>Ready for the tool that will contridict itself?</h3>
         <h2>It's coming. It's...</h2>
         <h1>A Paradox</h1>
        </div>
      </div>
    </div>
  </body>
</html>