<!doctype html>
<html>
  <head>
    <title>Coming Soon!</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <img src="/images/comingsoon.jpg" style = "height: 213px; width: 235px;">
	  <blockquote>"Technology is nothing. What's important is that you have a faith in people, that they're basically good and smart, and if you give them tools, they'll do wonderful things with them." - Steve Jobs</blockquote>
	  <h3>Ready for the tool that will make the world even smarter and gooder?</h3>
	  <h2>It's coming. It's...</h2>
	  <h1>Git Push Upstream Hamster</h1>
  </body>
</html>