<!doctype html>
<html>
  <head>
    <title>Holiday App!</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-1.10.2.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class = "container">
      <div class = "row">
        <div class="col-md-12">
          
          <h3>Here are your holidays for that date </h3>
          
          <% if params['year'] != nil && params['year'] != "" %>

            <% if params['month'] != nil && params['month'] != "" %>

              <% if @holidays.length < 1 %>
                <p>No Holidays on this date</p>

              <% end %>

              <% @holidays.each do |date| %>
                  <p><%= date['name'] %> : <%= date['date'] %></p><br>
              <% end %>

            <%else%>

              <p> please enter a month </p>

            <%end%>

          <% else %>

            <p>Please enter a year </p>

          <%end%>

        </div>
      </div>
    </div>
  </body>
</html>