<!doctype html>
<html>
  <head>
    <title>Coming Soon!</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-1.10.2.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class = "container">
      <div class = "row">
        <div class = "col-md-6">
          <img src="/images/comingsoon.jpg" style = "height: 213px; width: 235px;">
          <%= yield %>
        </div>
        <div class = "col-md-6">
          <%= yield %>
          <%= yield %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>